.banner {
	position: relative;
	height: 100vh;
	width: 100%;
	background:  url(../assets/slide2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/*background-position: center center;*/
	color: white;
	font-family: 'Roboto Slab', serif;
}

.banner .banner-info {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: auto;
	text-align: center;
	padding: 0px 10px;
}

.banner .banner-info h1 {
	position: relative;
	font-size: 2.5rem;

}
.profile {
	max-width: 10rem;

}