
#contactSection {
	background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png), url(../assets/background3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: 	white;
}
#contact-form {
	border: 1px black solid;
	border-radius: 	20px;
	padding: 20px;
}