*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;

}
#home{
	position: relative;
	background: url(../assets/slide2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	height: 94vh;

}
.about{
	background-color: transparent;

}
.profile {
	max-width: 18rem;

}
.myName {
	padding-top: 100px;
	font-size: 40px;

}



.homeDescription {
	padding-top: 50px;
	font-size: 25px;
	justify-content: center
}

.myContainer {
	 padding-right: 0; /*15px in bootstrap.css*/
     padding-left: 0;  /*idem*/
     margin-right: auto;
     margin-left: auto;
}