/*.myCarousel{
	height: 100%;
	background-size: cover;
	background-position: center;
}
#carouselHeight{
	height: 100%;
}
.carouselCaption{
	
	top: 22rem;
	z-index: 1;
	margin-top: -125;
	text-align: center;

	font-family: 'Roboto Slab', serif;

}

/*.captiontitle{
	font-size: 3rem;
}
.captionp{
	font-size: 2rem;
}*/*/